<!DOCTYPE html>
<html>

<head>
    <script th:href="@{/js/jquery.min.js}"></script>
    <script th:href="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/main.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"></link>
</head>

<body>
    <div th:fragment="footer">
        <div class="col-md-12" style="background: black;padding:4%;color:#fff;right: 0;bottom: 0;left: 0;">
            <div class="col-md-3">
                <p><strong>COMPANY</strong></p>
                <p class="pointer"><a style="text-decoration: none;color: #fff;" href="">About Us</a></p>
                <p class="pointer"><a style="text-decoration: none;color: #fff;" href="">Team</a></p>
            </div>
            <div class="col-md-3">
                <p><strong>CATEGORIES</strong></p>
                <p class="pointer"><a style="text-decoration: none;color: #fff;" href="">Products</a></p>
                <p class="pointer"><a style="text-decoration: none;color: #fff;" href="">Order</a></p>
            </div>
            <div class="col-md-3">
                <p><strong>OTHERS</strong></p>
                <p class="pointer"><a style="text-decoration: none;color: #fff;" href="">How it Work</a></p>
                <p class="pointer"><a style="text-decoration: none;color: #fff;" href="">Blog</a></p>
            </div>
            <div class="col-md-3">
                <p><strong>CONTACT US</strong></p>
                <p class="pointer"><a style="text-decoration: none;color: #fff;" href="mailto:technosyshub@gmail.com">technosyshub@gmail.com</a></p>
                <p class="pointer"><a style="text-decoration: none;color: #fff;" href="mailto:anoop0gangwar@gmail.com">anoop0gangwar@gmail.com</a></p>
            </div>
        </div>
    </div>
</body>

</html>
