
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<h1>Excel file upload example</h1>








	
		
		
		<div class="control-group form-group">
			<div class="controls">
				<label>orderID:</label> <input readonly type="text" class="form-control"
					id="orderID" th:field="*{orderID}" required="required"
					data-validation-required-message="Please enter  customerID" />
				<p class="help-block"></p>
			</div>
		</div>
		


		<div class="control-group form-group">
			<div class="controls">
				<label>customerID:</label> <input  readonly type="text" class="form-control"
					id="customerID" th:field="*{customerID}" required="required"
					data-validation-required-message="Please enter  customerID" />
				<p class="help-block"></p>
			</div>
		</div>



		<div class="control-group form-group">
			<div class="controls">
				<label>warehouseID:</label> <input readonly type="text" class="form-control"
					id="warehouseID" th:field="*{warehouseID}" required="required"
					data-validation-required-message="Please enter warehouseID" />
				<p class="help-block"></p>
			</div>
		</div>



		<div class="control-group form-group">
			<div class="controls">
				<label>invoiceNo:</label> <input type="text" class="form-control"
					id="invoiceNo" th:field="*{invoiceNo}" 
					data-validation-required-message="Please enter invoiceNo." />
				<p class="help-block"></p>
			</div>
		</div>



		<div class="control-group form-group">
			<div class="controls">
				<label>invoiceDate:</label> <input type="text" class="form-control"
					id="invoiceDate" th:field="*{invoiceDate}" 
					data-validation-required-message="Please enter invoiceDate" />
				<p class="help-block"></p>
			</div>
		</div>



		<div class="control-group form-group">
			<div class="controls">
				<label>lCNo:</label> <input type="text" class="form-control"
					id="lCNo" th:field="*{lCNo}" 
					data-validation-required-message="Please enterlCNo" />
				<p class="help-block"></p>
			</div>
		</div>


		<div class="control-group form-group">
			<div class="controls">
				<label>dateOfIssue:</label> <input type="text" class="form-control"
					id="dateOfIssue" th:field="*{dateOfIssue}" 
					data-validation-required-message="Please enter dateOfIssue" />
				<p class="help-block"></p>
			</div>
		</div>


		<div class="control-group form-group">
			<div class="controls">
				<label>customer:</label> <input type="text" class="form-control"
					id="customer" th:field="*{customer}" 
					data-validation-required-message="Please enter customer" />
				<p class="help-block"></p>
			</div>
		</div>


		<div class="control-group form-group">
			<div class="controls">
				<label>deliveryTerms:</label> <input type="text"
					class="form-control" id="deliveryTerms" th:field="*{deliveryTerms}"
					
					data-validation-required-message="Please enter deliveryTerms" />
				<p class="help-block"></p>
			</div>
		</div>


		<div class="control-group form-group">
			<div class="controls">
				<label>portOfImport:</label> <input type="text" class="form-control"
					id="portOfImport" th:field="*{portOfImport}" 
					data-validation-required-message="Please enter portOfImport" />
				<p class="help-block"></p>
			</div>
		</div>


		<div class="control-group form-group">
			<div class="controls">
				<label>bLNo:</label> <input type="text" class="form-control"
					id="bLNo" th:field="*{bLNo}" 
					data-validation-required-message="Please enter bLNo" />
				<p class="help-block"></p>
			</div>
		</div>


		<div class="control-group form-group">
			<div class="controls">
				<label>pONo:</label> <input type="text" class="form-control"
					id="pONo" th:field="*{pONo}"
					data-validation-required-message="Please enter pONo" />
				<p class="help-block"></p>
			</div>
		</div>


		<div class="control-group form-group">
			<div class="controls">
				<label>comments:</label> <input type="text" class="form-control"
					id="comments" th:field="*{comments}" 
					data-validation-required-message="Please enter comments" />
				<p class="help-block"></p>
			</div>
		</div>




		<div class=" control-group form-group">
			<span class="btn btn-primary btn-file"> Upload Excel File <input
				type="file" name="file" id="file"  />
			</span>
		</div>
		<div id="success"></div>
		<!-- For success/fail messages -->
		<button type="submit" class="btn btn-primary">Apply!</button>
	</form>

</div></div></div>



	

<div class="container ">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" 
					th:action="@{/addEmployee}" th:object="${inputFormBean}"
					method="post" class="form-horizontal" role="form" name="jobsForm" id="jobsForm" enctype="multipart/form-data">
					<h2>WareHouse Registration Form</h2>
					<div class="form-inline">


			
				
				<input readonly type="text" class="form-control"
					id="orderID" th:field="*{orderID}" required="required"
					data-validation-required-message="Please enter  customerID" />
			  	 <p class="help-block"></p>
				
				
				
			
						
					</div>


					<div class="form-inline">

						<input type="text" th:field="*{phone1}" placeholder="phone1"
							class="form-control" /> <label
							th:if="${#fields.hasErrors('phone1')}" th:errors="*{phone1}"
							class="validation-message"></label> <input type="text"
							th:field="*{phone2}" placeholder="phone2" class="form-control" />
						<label th:if="${#fields.hasErrors('phone1')}"
							th:errors="*{phone2}" class="validation-message"></label>
					</div>

					<div class="form-inline">


						<input type="text" th:field="*{totalspace}"
							placeholder="totalspace" class="form-control" /> <label
							th:if="${#fields.hasErrors('totalspace')}"
							th:errors="*{totalspace}" class="validation-message"></label> <input
							type="text" th:field="*{availablespace}"
							placeholder="availablespace" class="form-control" /> <label
							th:if="${#fields.hasErrors('availablespace')}"
							th:errors="*{availablespace}" class="validation-message"></label>


					</div>
					<div class="form-inline">



						<input type="text" th:field="*{state}" placeholder="state"
							class="form-control" /> <label
							th:if="${#fields.hasErrors('state')}" th:errors="*{state}"
							class="validation-message"></label> <input type="text"
							th:field="*{city}" placeholder="city" class="form-control" /> <label
							th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
							class="validation-message"></label>

					</div>

					<div class="form-inline">
						<input type="text" th:field="*{pincode}" placeholder="pincode"
							class="form-control" /> <label
							th:if="${#fields.hasErrors('pincode')}" th:errors="*{pincode}"
							class="validation-message"></label>

<button type="submit" class="btn btn-primary ">Register
							WareHouse</button>
					</div>
					

					<span th:utext="${successMessage}"></span>


				</form>
			</div>
		</div>
	</div>






</body>
</html>





