<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
    <div>
        <div th:replace="fragments/header :: header"></div>
    </div>
    <div>
        <span> <a th:href="@{/create/orderRequest/form}">IN-Order-Request</a></span>
        <!--  <span> <a th:href="@{/warehouse/view/registration}">Create-WareHouse</a></span>
		<span> <a th:href="@{/registration}">Create-Users</a></span>
	
		<span> <a th:href="@{/warehouse/listing}">View-WareHouses</a></span> <span>
			<a th:href="@{/users/listing}">View-Users </a>
		</span> <span> <a th:href="@{/inputTransactions/listing}">View-Input-Transactions</a></span>
		 -->
    </div>
    
    
    <div class="col-md-8 col-md-offset-2 text-center" style="margin-top:5%;">
        <div class="panel panel-warning">
            <div class="panel-heading"><strong>Search Order Request</strong></div>
            <div class="panel-body">
                <form th:object="${student}" th:action="@{/students}" method="get">
                    <span class="col-md-6 col-md-offset-2 float-right">
                    <input type="text" name="search" class="form-control" id="search" th:value="${search}" placeholder="Search Order Request By CustomerId" th style="width:100%;" />
                    </span>
                    <span class="col-md-2">
                    <input type="submit" class="btn btn-warning" value="Search" style="width:100%;" />
                    </span>
                </form>
            </div>
        </div>
    </div>
    
    
     <div class="col-md-12 text-center" style="margin-top:3%;">
	            <div class="panel panel-warning">
	                <div class="panel-heading"><strong>Details</strong></div>
	                <div class="panel-body">
	                    <table class="table table-responsive table-bordered table-striped">
	       			<tr>
					<th>ID</th>
					<th>CustomerID</th>
					<th>OrderId</th>
					<th>WAREHOUSEID</th>
					<th>Create InData</th>
				</tr>


				<tr th:each=" orderRequest : ${orderRequests}">
					<td th:text="${orderRequest.id}">Id</td>
					<td th:text="${orderRequest.customerID}">CustomerID</td>
					<td th:text="${orderRequest.orderID}">OrderId</td>
					<td th:text="${orderRequest.warehouseID}">WAREHOUSEID</td>
					<td><a
						th:href="@{'/mergeForm?id=' + ${orderRequest.id}+'&customerId='+${orderRequest.customerID}+'&orderID='+${orderRequest.orderID}+'&warehouseID='+${orderRequest.warehouseID}}">view</a>
					</td>
				</tr>
			</table></div></div>
		</div>
    
    
    
    <!-- Results block -->
    <div id="resultsBlock"></div>
    <!-- Pagination Bar -->
    <input type="hidden" id="jsonBom" th:value="${psize}" />
    <!--  <button id="searchButton1" name="searchButton1"
						th:onclick="'retrieveGuests(\''+${page.url}+ '\',0,\''+${page.size}+'\');'"
						type="button">← First</button>
					<button id="searchButton2" name="searchButton2"
						th:onclick="'retrieveGuests(\''+${page.url}+ '\',\''+${page.number-2}+ '\',\''+${page.size}+'\');'"
						type="button">«</button>

					<button id="searchButton3" name="searchButton3"
						th:onclick="'retrieveGuests(\''+${page.url}+ '\',\''+${page.number}+ '\',\''+${page.size}+'\');'"
						type="button">»</button>

					<button id="searchButton4" name="searchButton4"
						th:onclick="'retrieveGuests(\''+${page.url}+ '\',\''+${totalPages - 1} + '\',\''+${page.size}+'\');'"
						type="button">Last →</button>
-->
    <!-- 
	<span th:each='item : ${page.items}'>
		<button  class="pagination" id="searchButton" name="searchButton"
			th:onclick="'retrieveGuests(\''+${page.url}+ '\',\''+${item.number-1}+ '\',\''+${page.size}+'\');'"
			type="button" th:text='${item.number}'></button>
	</span>

 -->
    <script>
    function retrieveGuests(url, page, size) {
        //	 url = '/th-spring-integration/spring/guests';
        var k = url + "?page=" + page + "&size=" + size;
        //	if ($('#searchSurname').val() != '') {
        //		url = url + '/' + $('#searchSurname').val();
        //	}

        $("#resultsBlock").load(k);
    }
    var jsonBom = $('#jsonBom').val();
    //	retrieveGuests('orderRequest/paginated/listing', 0, jsonBom);
    </script>
    <div class="footerCont">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>

</html>
