<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>


	<form th:object="${student}" th:action="@{/students}" method="get">
		<input type="text" name="search" id="search" th:value="${search}" />
		<input type="submit" value="Search" />

	</form>

	<div class="create">
		<a th:href="@{/create/orderRequest/form}">Create Order Request</a>

	</div>

	<!-- Results block -->
	<div id="resultsBlock"></div>


	<!-- Pagination Bar -->

<input type="hidden" id="jsonBom" th:value="${psize}"/>






	<div class="search-block">
		<!--  <button id="searchButton1" name="searchButton1"
						th:onclick="'retrieveGuests(\''+${page.url}+ '\',0,\''+${page.size}+'\');'"
						type="button">← First</button>
					<button id="searchButton2" name="searchButton2"
						th:onclick="'retrieveGuests(\''+${page.url}+ '\',\''+${page.number-2}+ '\',\''+${page.size}+'\');'"
						type="button">«</button>

					<button id="searchButton3" name="searchButton3"
						th:onclick="'retrieveGuests(\''+${page.url}+ '\',\''+${page.number}+ '\',\''+${page.size}+'\');'"
						type="button">»</button>

					<button id="searchButton4" name="searchButton4"
						th:onclick="'retrieveGuests(\''+${page.url}+ '\',\''+${totalPages - 1} + '\',\''+${page.size}+'\');'"
						type="button">Last →</button>
-->
		<span th:each='item : ${page.items}'>
			<button id="searchButton" name="searchButton"
				th:onclick="'retrieveGuests(\''+${page.url}+ '\',\''+${item.number-1}+ '\',\''+${page.size}+'\');'"
				type="button" th:text='${item.number}'></button>
		</span>



	</div>

	<script>
				function retrieveGuests(url, page, size) {
					//	 url = '/th-spring-integration/spring/guests';
					var k = url + "?page=" + page + "&size=" + size;
					//	if ($('#searchSurname').val() != '') {
					//		url = url + '/' + $('#searchSurname').val();
					//	}

					$("#resultsBlock").load(k);
				}
				var jsonBom = $('#jsonBom').val();
				retrieveGuests('orderRequest/paginated/listing', 0, jsonBom);
			</script>
</body>
</html>

