1



<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/styles.css}"></link>


</head>
<body>
	<div th:fragment="resultsList" id="results-block">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		var dataArrayToSend = [];

		function retrieveGuests(  id) {
			for (var i = dataArrayToSend.length - 1; i--;) {
				if (dataArrayToSend[i] === id)
					dataArrayToSend.splice(i, 1);
			}

		}

		function addGuests(id) {

			dataArrayToSend.push(id);
			
		}
		
		function submitCall(url){
			var k='/saveAndGetInputTxns';
			var data = {
			        myArray: dataArrayToSend //notice that "myArray" matches the value for @RequestParam
			                   //on the Java side
			    }
			$.post(k, data
					  ,
					    function(data, status){
					        alert("Data: " + data + "\nStatus: " + status);
					    });
		}

			</script>
		<form action="#" th:action="@{/saveAndGetInputTxns}"
			th:object="${users}" method="post">



			<input type="hidden" id="jsonBom" th:value="${psize}" />




			<h1>INPUT TRANSACTION Listing</h1>

<button id="saveData" name="save"
							th:onclick="'submitCall(\''+'test'+ '\');'" type="button"
							>Final SAve</button>

			<table>
				<tr>
					<th>customerID-ITXN</th>
					<th>warehouseID-ITXN</th>
					<th>orderID-ITXN</th>
					<th>invoiceNo-ITXN</th>
					<th>mark as out</th>
				</tr>
				<tr th:each="user: ${users}">
					<td th:text="${user.customerID}">..</td>
					<td th:text="${user.warehouseID}">..</td>
					<td th:text="${user.orderID}">..</td>
					<td th:text="${user.invoiceNo}">..</td>
					<td><button id="searchButton" name="MarkAsOut"
							th:onclick="'addGuests(\''+${user.id}+ '\');'" type="button"
							th:text='${user.id}'></button></td>

				</tr>
			</table>

			<button type="submit" value="submit" class="btn btn-success">Submit</button>
		</form>
	</div>

	

</body>
</html>
