<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body data-spy="scroll">
    <!--  <h1>Details</h1> -->
    <div>
        <div th:replace="fragments/header :: header"></div>
    </div>
    <div th:fragment="resultsList" id="results-block">
        <div class="col-md-12 text-center " style="margin-top:3%; ">
            <div class="panel panel-warning ">
                <div class="panel-heading "><strong>Details</strong></div>
                <div class="panel-body ">
                    <table class="table table-striped table-bordered table-responsive">
                        <tr>
                            <th>ID</th>
                            <th>CustomerID</th>
                            <th>OrderId</th>
                            <th>WAREHOUSEID</th>
                            <th>Create InData</th>
                        </tr>
                        <tr th:each=" orderRequest : ${orderRequests}">
                            <td th:text="${orderRequest.id}">Id</td>
                            <td th:text="${orderRequest.customerID}">CustomerID</td>
                            <td th:text="${orderRequest.orderID}">OrderId</td>
                            <td th:text="${orderRequest.warehouseID}">WAREHOUSEID</td>
                            <td><a th:href="@{'/mergeForm?id=' + ${orderRequest.id}+'&customerId='+${orderRequest.customerID}+'&orderID='+${orderRequest.orderID}+'&warehouseID='+${orderRequest.warehouseID}}">view</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>
