<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
    <div>
        <div th:replace="fragments/header :: header"></div>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center" style="margin-top:4%;">
        <div class="panel panel-warning">
            <div class="panel-heading"><strong>WareHouse Form</strong></div>
            <div class="panel-body">
                <form class="form" action="#" th:action="@{/outDataRequest}" th:object="${outData}" method="post">
                    <table class="table">
                        <tr>
                            <td>Level:</td>
                            <td>
                                <select th:field="*{levelCat}" id="dropOperator" required>
                                    <option th:each="levelOption : ${levelOptions}" th:value="${levelOption}" th:text="${levelOption}"></option>
                                </select>
                            </td>
                            <td th:if="${#fields.hasErrors('levelCat')}" th:errors="*{levelCat}">Title error message</td>
                        </tr>
                        <tr>
                            <td>Level Name:</td>
                            <td>
                                <input type="text" th:field="*{levelName}" required/>
                            </td>
                            <td th:if="${#fields.hasErrors('levelName')}" th:errors="*{levelName}">Content error message</td>
                        </tr>
                        <tr>
                            <td>Level Value:</td>
                            <td>
                                <input type="text" th:field="*{levelValue}" required/>
                            </td>
                            <td th:if="${#fields.hasErrors('levelValue')}" th:errors="*{levelValue}">Content error message</td>
                        </tr>
                    </table>
                    <label>id</label>
                    <input type="text" th:field="*{id}" class="form-control" required/>
                    <label>customerId</label>
                    <input type="text" th:field="*{customerId}" class="form-control" required/>
                    <label>warehouseID</label>
                    <input type="text" th:field="*{warehouseID}" class="form-control" required/>
                    <label>orderID</label>
                    <input type="text" th:field="*{orderID}" class="form-control" required/>
                    <div style="text-align: center;">
                        <button class="btn btn-default" type="submit">Submit post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Results block -->
    <!--    <div id="resultsBlock"></div> -->
    <!-- Pagination Bar -->
    <input type="hidden" id="jsonBom" th:value="${psize}" />
    <!--    <span th:each='item : ${page.items}'>
        <button id="searchButton" name="searchButton"
            th:onclick="'retrieveGuests(\''+${page.url}+ '\',\''+${item.number-1}+ '\',\''+${page.size}+'\');'"
            type="button" th:text='${item.number}'></button>
    </span>


-->
    <script>
    function retrieveGuests(url, page, size) {
        //   url = '/th-spring-integration/spring/guests';
        var k = url + "?page=" + page + "&size=" + size;
        //  if ($('#searchSurname').val() != '') {
        //      url = url + '/' + $('#searchSurname').val();
        //  }

        $("#resultsBlock").load(k);
    }
    var jsonBom = $('#jsonBom').val();
    //  retrieveGuests('/inputTxn/paginated/listing', 0, jsonBom);
    </script>
    <div class="">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>

</html>
