<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create WareHouse Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" >
    </script>
</head>

<body>
    <div>
        <div th:replace="fragments/header :: header"></div>
    </div>
    <div class="col-md-8 col-md-offset-2" style="margin-top:2%;margin-bottom:3%">
        <div class="panel panel-warning">
            <div class="panel-heading"><strong>Out Order Request Form</strong></div>
            <div class="panel-body">
                <form autocomplete="off" action="#" th:action="@{/create/data/orderRequest}" th:object="${orderRequest}" method="post" class="form-horizontal" role="form">
                    <!--  <h2>Out Order Request Form</h2> -->
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="control-group">
                                <div class="controls form-inline">
                                    <label>Manager Approval</label>
                                    <input type="checkbox" class="styled" th:field="*{managerApproval}" />
                                    <label style="margin-left: 3%;">Document Received</label>
                                    <input type="checkbox" class="styled" th:field="*{documentReceived}" />
                                    <label style="margin-left: 3%;">Warehouse Confirmation</label>
                                    <input type="checkbox" class="styled" th:field="*{wareConfirmation}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Order ID</label>
                            <input type="text" th:field="*{orderID}" placeholder="Enter orderID" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('orderID')}" th:errors="*{orderID}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Date Started</label>
                            <input type="date" class="form-control" th:value="*{orderDate}" th:field="*{orderDate}" id="date-started" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Order Type</label>
                            <input type="text" th:field="*{orderType}" placeholder="Enter orderType" readonly="readonly" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('orderType')}" th:errors="*{orderType}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Customer ID</label>
                            <input type="text" th:field="*{customerID}" placeholder="Enter customerID" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('customerID')}" th:errors="*{customerID}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Warehouse ID</label>
                            <input type="text" th:field="*{warehouseID}" placeholder="Enter warehouseID" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('warehouseID')}" th:errors="*{warehouseID}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Request Raised By</label>
                            <input type="text" th:field="*{requestRaisedBy}" placeholder="Enter requestRaisedBy" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('requestRaisedBy')}" th:errors="*{requestRaisedBy}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Rate PerUnitPerDay</label>
                            <input type="text" th:field="*{ratePerUnitPerDay}" placeholder="Enter ratePerUnitPerDay" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('ratePerUnitPerDay')}" th:errors="*{ratePerUnitPerDay}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Loading Charge</label>
                            <input type="text" th:field="*{loadingCharge}" placeholder="Enter loadingCharge" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('loadingCharge')}" th:errors="*{loadingCharge}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Unloading Charge</label>
                            <input type="text" th:field="*{unloadingCharge}" placeholder="Enter unloadingCharge" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('unloadingCharge')}" th:errors="*{unloadingCharge}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Other Charge</label>
                            <input type="text" th:field="*{otherCharge}" placeholder="Enter otherCharge" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('otherCharge')}" th:errors="*{otherCharge}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Buyer Name</label>
                            <input type="text" th:field="*{buyerName}" placeholder="Enter buyerName" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('buyerName')}" th:errors="*{buyerName}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Buyer Email</label>
                            <input type="email" th:field="*{buyerEmail}" placeholder="Enter buyerEmail" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('buyerEmail')}" th:errors="*{buyerEmail}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Buyer PhoneNumber</label>
                            <input type="text" th:field="*{buyerPhoneNumber}" placeholder="Enter buyerPhoneNumber" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('buyerPhoneNumber')}" th:errors="*{buyerPhoneNumber}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Consignee Address</label>
                            <input type="text" th:field="*{consigneeAddress}" placeholder="Enter consigneeAddress" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('consigneeAddress')}" th:errors="*{consigneeAddress}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Invoice Number</label>
                            <input type="text" th:field="*{invoiceNumber}" placeholder="Enter invoiceNumber" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('invoiceNumber')}" th:errors="*{invoiceNumber}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Pin Code</label>
                            <input type="text" th:field="*{pinCode}" placeholder="Enter pinCode" class="form-control" />
                            <label th:if="${#fields.hasErrors('pinCode')}" th:errors="*{pinCode}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Truck Number</label>
                            <input type="text" th:field="*{truckNumber}" placeholder="Enter truckNumber" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('truckNumber')}" th:errors="*{truckNumber}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Mode Of Transfer</label>
                            <input type="text" th:field="*{modeOfTransfer}" placeholder="Enter modeOfTransfer" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('modeOfTransfer')}" th:errors="*{modeOfTransfer}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Transportation Cost</label>
                            <input type="text" th:field="*{transportationCost}" placeholder="Enter transportationCost" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('transportationCost')}" th:errors="*{transportationCost}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Comment</label>
                            <input type="text" th:field="*{comment}" placeholder="comment" class="form-control" />
                            <label th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Tracking ID</label>
                            <input type="text" th:field="*{trackingID}" placeholder="Enter trackingID" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('trackingID')}" th:errors="*{trackingID}" class="validation-message"></label>
                        </div>
                        <div class="col-md-6">
                            <label>Uom</label>
                            <input type="text" th:field="*{uom}" placeholder="uom" class="form-control" required/>
                            <label th:if="${#fields.hasErrors('uom')}" th:errors="*{uom}" class="validation-message"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" style="width:31%;" class="btn btn-warning">Create Order Request</button>
                        </div>
                    </div>
                    <span th:utext="${successMessage}"></span>
                </form>
            </div>
        </div>
    </div>
    <div class="">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>

</html>
