<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>

 <div th:replace="fragments/header :: header"></div>
	<div>
		
		<div class="breadcrumb">
			<marquee>Book now get 20% off, while booking the slot
				online</marquee>
			<button class="close hide">×</button>
		</div>

	</div>


	

	<div>
		<form th:object="${student}" th:action="@{/outOrderRequest}" method="get">
			<input type="text" name="search" id="search" th:value="${search}"
				placeholder="Search Order Request By CustomerId" th
				style="width: 20%" /> <input type="submit" value="Search" />
		</form>
	</div>


	<span> <a th:href="@{/create/out/orderRequest/form}">OUT-Order-Request</a></span>
	

	<!-- Results block -->
	<div id="resultsBlock"></div>






	<div class="footerCont">
	

	<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>



