<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
    <div>
        <div th:replace="fragments/header :: header"></div>
    </div>
    <div class="col-md-8 col-md-offset-2" style="margin-top:5%;">
        <div class="panel panel-warning">
            <div class="panel-heading"><strong>Listing</strong></div>
            <div class="panel-body">
                <input type="hidden" id="customerId" th:value="${customerId}" />
                <input type="hidden" id="date" th:value="${date}" />
                <div>
                    <label>Customer ID</label>
                    <li th:text="${sum.customerID}"></li>
                </div>
                <div>
                    <label>Storage Charges</label>
                    <li th:text="${sum.storageCharges}"></li>
                    <div>
                        <form th:action="@{/inventorydtoragecharges/customer}" th:object="${totalSumInputBean}" method="post">
                            <button type="submit" class="btn btn-warning">Details</button>
                        </form>
                    </div>
                    <div id="resultsBlock"></div>
                </div>
                <div>
                    <label>Loading Charge</label>
                    <li th:text="${sum.loadingCharge}"></li>
                    <div>
                        <form th:action="@{/inventoryloadingcharges/customer/list}" th:object="${totalSumInputBean}" method="post">
                            <button type="submit" class="btn btn-warning">Details</button>
                        </form>
                    </div>
                </div>
                <div>
                    <label>Unloading Charge</label>
                    <li th:text="${sum.unloadingCharge}"></li> <a th:href="@{'/inventoryloadingcharges/customer/list?customerId=' + ${customerId}+'&date='+${date}}">view</a>
                    <div>
                        <form th:action="@{/inventoryloadingcharges/customer/list}" th:object="${totalSumInputBean}" method="post">
                            <button type="submit" class="btn btn-warning">Details</button>
                        </form>
                    </div>
                </div>
                <div>
                    <label>Other Charge</label>
                    <li th:text="${sum.otherCharge}"></li>
                    <div>
                        <form method="POST" th:action="@{/inventoryloadingcharges/customer/list}" th:object="${totalSumInputBean}">
                            <button type="submit" name="submit" value="value" class="link-button btn btn-warning">This is a link that sends a POST request
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script>
    function retrieveGuests(url, page, size) {

        var customerId = $('#customerId').val();
        var date = $('#date').val();

        var k = url + "?customerId=" + customerId + "&date=" + date;


        $("#resultsBlock").load(k);
    }

    //	retrieveGuests('orderRequest/paginated/listing', 0, jsonBom);
    </script>
</body>

</html>
