<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<script th:href="@{/js/jquery.min.js}"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/main.css}"></link>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" ></link>

</head>

<body>

<div>
 <div th:replace="fragments/header :: header"></div>	
</div>

	<div class="container ">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#"
					th:action="@{/inventorystorageandloadingcharges/customer/sum}"
					th:object="${totalSumInputBean}" method="post"
					class="form-horizontal" role="form">
					<h2>Total Sum Count</h2>
					<div class="form-inline">


						<input type="text" th:field="*{customerId}"
							placeholder="Customer Id" class="form-control" /> <label
							th:if="${#fields.hasErrors('customerId')}"
							th:errors="*{customerId}" class="validation-message"></label> <input
							type="date" th:field="*{orderDate}" placeholder="Date"
							class="form-control" /> <label
							th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}"
							class="validation-message"></label>

					</div>



					<div class="form-inline">

						<button type="submit" class="btn btn-primary ">Find Sum</button>
					</div>


					<span th:utext="${successMessage}"></span>


				</form>
			</div>
		</div>
	</div>
<div class="footerCont">
	

	<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
<script>
	
</script>
</html>