



<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>
<body>
<div>
 <div th:replace="fragments/header :: header"></div>	
</div>

	<a href="/registration">Create User</a>

<a href="/totalSumView">Total Sum View</a>

	<h1>Users Listing</h1>

	<table class="table">
		<tr>
			<th>Id</th>
			<th>FirstNAME</th>
			<th>LastName</th>
			<th>EMAIL</th>

			<th>Roles</th>




		</tr>
		<tr th:each="user: ${users}">
			<td th:text="${user.id}">..</td>
			<td th:text="${user.name}">..</td>
			<td th:text="${user.lastName}">..</td>
			<td th:text="${user.email}">..</td>
			<!-- 	<td th:text="${user.password}">..</td> -->

			<td>
				<li th:each="role : ${user.roles}" th:text="${role.role}">Item
					description here...</li>
			<td>
				<!-- 	<td th:text="${user.active}">..</td> -->
		</tr>
	</table>



	<div class="footerCont">
	

	<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>
