<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create WareHouse Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
</head>

<body>
    <div>
        <div th:replace="fragments/header :: header"></div>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center" style="margin-top:4%;">
        <div class="panel panel-warning">
            <div class="panel-heading"><strong>WareHouse Registration Form</strong></div>
            <div class="panel-body">
                <form autocomplete="off" action="#" th:action="@{/warehouse/view/registration}" th:object="${user}" method="post" class="form-horizontal" role="form">
                    <!-- <h2>WareHouse Registration Form</h2> -->
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="">
                                <div style="float:left">
                                    <label>Name</label>
                                </div>
                                <input type="text" th:field="*{name}" placeholder="Enter name" class="form-control" required/>
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <div style="float:left">
                                    <label>Email</label>
                                </div>
                                <input type="email" th:field="*{email}" placeholder="Enter email" class="form-control" required/>
                                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="">
                                <div style="float:left">
                                    <label>Phone1</label>
                                </div>
                                <input type="tel" th:field="*{phone1}" placeholder="Enter phone1" class="form-control" pattern="[789][0-9]{9}" required/>
                                <label th:if="${#fields.hasErrors('phone1')}" th:errors="*{phone1}" class="validation-message"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div style="float:left">
                                    <label>Phone2</label>
                                </div>
                                <input type="tel" th:field="*{phone2}" placeholder="Enter phone2" class="form-control" />
                                <label th:if="${#fields.hasErrors('phone2')}" th:errors="*{phone2}" class="validation-message"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div>
                                <div style="float:left">
                                    <label>Total Space</label>
                                </div>
                                <input type="text" th:field="*{totalspace}" placeholder="Enter total space" class="form-control" required/>
                                <label th:if="${#fields.hasErrors('totalspace')}" th:errors="*{totalspace}" class="validation-message"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div style="float:left">
                                    <label>Available Space</label>
                                </div>
                                <input type="text" th:field="*{availablespace}" placeholder="Enter available space" class="form-control" required/>
                                <label th:if="${#fields.hasErrors('availablespace')}" th:errors="*{availablespace}" class="validation-message"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div>
                                <div style="float:left">
                                    <label>State</label>
                                </div>
                                <input type="text" th:field="*{state}" placeholder="Enter state" class="form-control" required/>
                                <label th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="validation-message"></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div style="float:left">
                                    <label>City</label>
                                </div>
                                <input type="text" th:field="*{city}" placeholder="Enter city" class="form-control" required/>
                                <label th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="validation-message"></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="float:left">
                                <div style="float:left">
                                    <label>Pincode</label>
                                </div>
                                <input type="text" th:field="*{pincode}" placeholder="Enter pincode" class="form-control" />
                                <label th:if="${#fields.hasErrors('pincode')}" th:errors="*{pincode}" class="validation-message"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-inline">
                        <button type="submit" class="btn btn-warning" style="width: 31%;">Register WareHouse
                        </button>
                    </div>
                    <span th:utext="${successMessage}"></span>
                </form>
            </div>
        </div>
    </div>
    <div class="">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>

</html>
