<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order Request Listing</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body data-spy="scroll">
<div>
 <div th:replace="fragments/header :: header"></div>	
</div>
	<h1>Details</h1>
	<div th:fragment="resultsList" id="results-block">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		
		<div class="table-responsive">
			<table class="table">
				<tr>
					
					<th>CustomerID</th>
					<th>level1Name</th>
					<th>level1Count</th>
					<th>Create InData</th>
				</tr>

 				<tr th:each="inventory : ${inventories}">
					
					<td th:text="${inventory.customerID}">CustomerID</td>
					<td th:text="${inventory.level1Name}">level1Name</td>
					<td th:text="${inventory.level1Count}">level1Count</td>
					<!-- <td><a
						th:href="@{'/mergeForm?id=' + ${orderRequest.id}+'&customerId='+${orderRequest.customerID}+'&orderID='+${orderRequest.orderID}+'&warehouseID='+${orderRequest.warehouseID}}">view</a>
					</td>
					 -->
				</tr>
			</table>
		</div>
	<div class="footerCont">
	

	<div th:replace="fragments/footer :: footer"></div>
	</div>
	</div>
</body>
</html>


