<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

	<div>
 <div th:replace="fragments/header :: header"></div>	
</div>

	<div>
		<a href="/warehouse/view/registration">CREATE WAREHOUSE</a>
	</div>
	
	<div>
		<a href="/inventoryby/customer"> Inventory Records</a>
	</div>
	
	<h2>WareHouse Listing</h2>














	<table class="table" data-spy="scroll">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Other Phone</th>
			<th>TotalSpace</th>
			<th>Available Space</th>
			<th>State</th>
			<th>City</th>
			<th>Pincode</th>



		</tr>
		<tr th:each="warehouse:${wareHouses}">
			<td th:text="${warehouse.name}">..</td>
			<td th:text="${warehouse.email}">..</td>
			<td th:text="${warehouse.phone1}">..</td>
			<td th:text="${warehouse.phone2}">..</td>
			<td th:text="${warehouse.totalspace}">..</td>
			<td th:text="${warehouse.availablespace}">..</td>
			<td th:text="${warehouse.state}">..</td>
			<td th:text="${warehouse.city}">..</td>
			<td th:text="${warehouse.pincode}">..</td>




		</tr>
	</table>

	<p>
		<a href="../home.html" th:href="@{/warehouse/view/registration}">Return
			to home</a>
	</p>


	<div class="footerCont">
	

	<div th:replace="fragments/footer :: footer"></div>
	</div>

</body>
</html>
